

<div class="container-lg box">
  <h1>{{title}}</h1>
<br/>
  Numero 1: <input type="number" [(ngModel)]="numero1" name="numero1"><br/><br/>

  Numero 2: <input type="number" [(ngModel)]="numero2" name="numero2"><br/><br/>

  <input type="submit" value="Sumar" (click)="sumar()" class="btn btn-outline-dark">
  <input type="submit" value="Restar" (click)="restar()" class="btn btn-outline-dark">
  <input type="submit" value="Multiplicar" (click)="multiplicar()" class="btn btn-outline-dark">
  <input type="submit" value="Dividir" (click)="dividir()" class="btn btn-outline-dark"><br/><br/>


<p>El resultado es --> {{resultado}}</p>
</div>